<!DOCTYPE html>
<html>
    <head>
        <% include ../../../layouts/pro/head %>
    </head>
    <body>
        <div class="wrapper">
            <% include ../../../layouts/pro/sidebar %>
            <div class="main-panel">
                <% include ../../../layouts/pro/navbar %>

                <div class="main-content">
                    <div class="container-fluid">


                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <%= title %>
                                    </div>
                                    <div class="content">
                                        <div style="max-width: 100%; overflow: auto;" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <th>#</th>
                                                    <th>Date</th>
                                                    <th>Cloud Date</th>
                                                    <th>Start Meter</th>
                                                    <th>End Meter</th>
                                                    <th>Location</th>
                                                    <th>Field Visit Type</th>
                                                    <th>Inquiries</th>
                                                </thead>
                                                <tbody>
                                                    <% fieldVisits.forEach(function(fieldVisit) { %>
                                                        <tr>
                                                            <td> <%= fieldVisit.id %> </td>
                                                            <td> <%= fieldVisit.date %> </td>
                                                            <td> <%= fieldVisit.sys_date %> </td>
                                                            <td> <%= fieldVisit.start_meter %> </td>
                                                            <td> <%= fieldVisit.end_meter %> </td>
                                                            <td> <%= fieldVisit.location %> </td>
                                                            <td> <%= fieldVisit.name %> </td>
                                                            <td><a href="/visit/myprofile/fieldvisit/inquiries/<%= fieldVisit.id %>">Show</a></td>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                </div>

                <% include ../../../layouts/pro/footer %>
            </div>
        </div>
    </body>
    <% include ../../../layouts/pro/includes %>
</html>
