<!DOCTYPE html>
<html>
    <head>
        <% include ./layouts/pro/head %>
    </head>
    <body>
        <div class="wrapper">
            <% include ./layouts/pro/sidebar %>
            <div class="main-panel">
                <% include ./layouts/pro/navbar %>

                <div class="main-content">
                    <div class="container-fluid">


                        <div class="row">

                                <div class="col-md-12">
                                        <div class="card">
                                            <div class="header">
                                                <h4 class="title">Overdue Commitments</h4>
                                            </div>
                                            <div class="alert alert-warning">
                                                <font color='#683f43'>
                                                    Randeepa Cloud හි මෙම මෙම මොඩියුලය රහසිගත රහසිගත (Confidential) සහ ඉතා වැදගත් තොරතුරු ඇතුලත් වන අතර ඔබ විසින් මෙම පද්ධතියෙහි සිදු කරන සියලුම ක්‍රියා දත්ත ආයතන Server හි තැන්පත් වේ. මෙම තොරතුරු වෙනත් පාර්ශව වෙත නිරාවරණය කිරීම, මුරපද (Password) වෙනත් පුද්ගලයකු අතට ලබා දීම, ඔබ හා සමගම අතර ඇති ගිවිසුම් උල්ලංගනය කිරීමක් වන අතර ඒ පිළිබඳව දැඩි විනයනකුල පියවර ඔබග එරෙහිව ලබා ගැනීමට හෝ සේවයෙන් ඉවත් කිරීමට ආයතනය විසින් ක්‍රියා කරනු ඇත.
                                                </font>
                                            </div>
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <h6 class="title"><b>There are <%= commitments.length %> overdue commitments</b></h6>
                                                        <div style="max-width: 100%; height: 300px; overflow: auto;" class="table-responsive">
                                                            <table class="table table-striped">
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>ID 1</th>
                                                                        <th>Installment ID</th>
                                                                        <th>Expires</th>
                                                                        <th>Content</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <% commitments.forEach(function(commitment) { %>
    
                                                                        <tr>
                                                                            <td><a href="/hirePurchase/contractInfo?contractID=<%= commitment.contract_id %>"><%= commitment.contract_id %></a></td>
                                                                            <td><%= commitment.id_1 %></td>
                                                                            <td><%= commitment.installment_id %></td>
                                                                            <% if(commitment.expires == 0) { %>
                                                                                <td><font color='green'><b>Expires Today</b></font></td>
                                                                            <% } else { %>
                                                                                <td><font color='red'>Expired <%= Math.abs(commitment.expires) %> days ago</font></td>
                                                                            <% } %>
                                                                            <td><%= commitment.text %></td>
                                                                        </tr>
                
                                                                    <% }) %>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                            <% if(user.accessLevel.hirePurchase == 8) { %>
                                <div class="col-md-12">
                                    <div class="card">
                                        <div class="header">
                                            <h4 class="title"><%= title %></h4>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="dropdown">

                                                        <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                                            Show
                                                            <span class="caret"></span>
                                                        </button>

                                                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/hirePurchase/new">New Contract</a></li>
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/hirePurchase/newReceipt">New Receipt</a></li>
                                                            <li role="presentation"><a role="menuitem" tabindex="-1" href="/hirePurchase/contracts">View Contracts</a></li>
                                                        </ul>

                                                    </div>
                                                    <br>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="title">Filter by Batch</p>
                                                    <form method="get" action="/hirePurchase/contractsByBatch">
                                                        <table>
                                                            <tr>
                                                                <td>Batch: &nbsp;&nbsp;</td>
                                                                <td>
                                                                    <select class="form-control" name="batch">
                                                                        <% batches.forEach(function(model) { %>
                                                                            <option value="<%= model.id %>"><%= model.name %></option>
                                                                        <% }) %>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td><input class="btn sumit" type='submit' value='Filter'></td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="title">Filter by Recovery Officer</p>
                                                    <form method="get" action="/hirePurchase/contractsByRecoveryOfficer">
                                                        <table>
                                                            <tr>
                                                                <td>Batch: &nbsp;&nbsp;</td>
                                                                <td>
                                                                    <select class="form-control" name="officer">
                                                                        <% recoveryOfficers.forEach(function(model) { %>
                                                                            <option value="<%= model.id %>"><%= model.name %></option>
                                                                        <% }) %>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td><input class="btn sumit" type='submit' value='Filter'></td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="title">Contracts As At</p>
                                                    <form action="/hirePurchase/contractsAsAt">
                                                        <table>
                                                            <tr>
                                                                <td>Batch: &nbsp;&nbsp;</td>
                                                                <td>
                                                                        <select class="form-control" name="batch">
                                                                            <option value="-1">All</option>
                                                                            <% batches.forEach(function(model) { %>
                                                                                <option value="<%= model.id %>"><%= model.name %></option>
                                                                            <% }) %>
                                                                        </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Date: &nbsp;&nbsp;</td>
                                                                <td><input type="text" name="date" class="form-control datetimepicker" placeholder="YYYY-MM-DD" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td><input class="btn sumit" type='submit' value='Submit'></td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <p class="title">Pending Installments As At</p>
                                                    <form action="/hirePurchase/pendingInstallments">
                                                        <table>
                                                            <tr>
                                                                <td>Filter</td>
                                                                <td>
                                                                    <select class="form-control" name="filter">
                                                                        <option value="-1">All</option>
                                                                        <option value="1">Arrears Only</option>
                                                                        <option value="2">Upcoming Installments Only</option>
                                                                    </select>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Date: &nbsp;&nbsp;</td>
                                                                <td><input type="text" name="date" class="form-control datetimepicker" placeholder="YYYY-MM-DD" /></td>
                                                            </tr>
                                                            <tr>
                                                                <td></td>
                                                                <td><input class="btn sumit" type='submit' value='Submit'></td>
                                                            </tr>
                                                        </table>
                                                    </form>
                                                </div>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% } %>

                        </div>



                    </div>
                </div>

                <% include ./layouts/pro/footer %>
            </div>
        </div>
    </body>
    <% include ./layouts/pro/includes %>
    <script type="text/javascript">
        $('.datetimepicker').datetimepicker({
            format: 'YYYY-MM-DD',
            icons: {
                time: "fa fa-clock-o",
                date: "fa fa-calendar",
                up: "fa fa-chevron-up",
                down: "fa fa-chevron-down",
                previous: 'fa fa-chevron-left',
                next: 'fa fa-chevron-right',
                today: 'fa fa-screenshot',
                clear: 'fa fa-trash',
                close: 'fa fa-remove'
            }
        });
    </script>
</html>
