<!DOCTYPE html>
<html>
    <head>
        <% include ../layouts/pro/head %>
        <% printAmount = function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        } %>
        <style>
        </style>
    </head>
    <body>
        <div class="wrapper">
            <% include ../layouts/pro/sidebar %>
            <div class="main-panel">
                <% include ../layouts/pro/navbar %>

                <div class="main-content">
                    <div class="container-fluid">


                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <%= title %>
                                    </div>
                                    <div class="content">
                                        <div style="max-width: 100%; overflow: auto;" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Number</th>
                                                        <th>Contract ID</th>
                                                        <th>Amount</th>
                                                        <th>Amount Paid</th>
                                                        <th>Due Date</th>
                                                        <th>Add Payment</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% installments.forEach(function(installment, i) { %>
                                                        <% if (installment.overdue == 0 && installment.upcoming == 0) { %>
                                                            <tr class='success'>
                                                        <% } else if(installment.overdue == 1 && installment.upcoming == 0) { %>
                                                            <tr class='warning'>
                                                        <% } else { %>
                                                            <tr>
                                                        <% } %>
                                                            <td> <%= installment.id %> </td>
                                                            <td><%= i + 1 %></td>
                                                            <td> <%= installment.contract_id %> </td>
                                                            <td> <%= printAmount(installment.amount) %> </td>
                                                            <td> <a href="/hirePurchase/viewPayments?installmentID=<%= installment.id %>"><%= printAmount(installment.amount_paid) %></a> </td>
                                                            <td> <%= installment.due_date %> </td>
                                                            <td> <a href="/hirePurchase/addPayment?installmentID=<%= installment.id %>">Add</a> </td>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="header">
                                        Receipts
                                    </div>
                                    <div class="content">
                                            <div style="max-width: 100%; overflow: auto;" class="table-responsive">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th>#</th>
                                                            <th>Receipt ID</th>
                                                            <th>Date</th>
                                                            <th>Amount</th>
                                                            <th>TR Number</th>
                                                            <th>TR Book Number</th>
                                                            <th>Amount Allocated</th>
                                                            <th>To Be Allocated</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% receipts.forEach(function(installment, i) { %>
                                                            <tr>
                                                                <td><%= i + 1 %></td>
                                                                <td> <a href="/hirePurchase/printReceipt?receiptID=<%= installment.receipt_id %>"><%= installment.receipt_id %></a> </td>
                                                                <td> <%= installment.date %> </td>
                                                                <td> <%= printAmount(installment.amount) %> </td>
                                                                <td> <%= installment.tr_number %> </td>
                                                                <td> <%= installment.tr_book_number %> </td>
                                                                <td> <%= printAmount(installment.amount_allocated) %> </td>
                                                                <td><%= installment.to_be_allocated %></td>
                                                            </tr>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>

                <% include ../layouts/pro/footer %>
            </div>
        </div>
    </body>
    <% include ../layouts/pro/includes %>
</html>
