<!DOCTYPE html>
<html>
    <head>
        <% include ../layouts/pro/head %>
        <style>
        </style>
    </head>
    <body>
        <div class="wrapper">
            <% include ../layouts/pro/sidebar %>
            <div class="main-panel">
                <% include ../layouts/pro/navbar %>

                <div class="main-content">
                    <div class="container-fluid">


                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                      <%= title %>
                                      <% if(user.accessLevel.salesEdit == 1) { %>
                                        <p>
                                          <% if(sales[0]['verified'] == 1) { %>
                                            <font color="green">Sale Verified</font>
                                          <% } else { %>
                                            <font color="red">Sale not verified</font> You can comment on this sale or verify it below <br>
                                            <a href="/sale/edit?cloudID=<%= sales[0]['id'] %>"><img src='/img/edit_64.png' style="width: 32px;"></a>
                                            <a href="/sale/log?cloudID=<%= sales[0]['id'] %>" target="_blank"><img src='/img/log.png' style="width: 32px;"></a>
                                          <% } %></p>
                                      <% } else { %>
                                        <p><% if(sales[0]['verified'] == 1) { %><font color="green">Sale Verified</font><% } else { %><font color="red">Sale not verified</font> You can comment on this sale or verify it below<% } %></p>
                                      <% } %>
                                    </div>
                                    <div class="content">

                                      <table class="table table-striped">
                                        <tbody>
                                          <tr>
                                            <td><b>Cloud ID</b></td>
                                            <td><b><%= sales[0]['id'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td><b>Officer</b></td>
                                            <td><b><%= sales[0]['officer_name'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td>Region</td>
                                            <td><%= sales[0]['region_name'] %></td>
                                          </tr>
                                          <tr>
                                            <td><b>ME Territory</b></td>
                                            <td><b><%= sales[0]['territory_name'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td>Date</td>
                                            <td><%= sales[0]['date'] %></td>
                                          </tr>
                                          <tr>
                                            <td><b>Cloud Date</b></td>
                                            <td><b><%= sales[0]['sys_date'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td><b>Showroom/Dealer</b></td>
                                            <% if(sales[0]['location']){ %>
                                                <td> <b><%= sales[0]['location'] %></b> </td>
                                            <% } else if(sales[0]['sd_location']){ %>
                                                <td> <b><%= sales[0]['sd_location'] %></b> </td>
                                            <% } %>
                                          </tr>
                                          <tr>
                                            <td><b>Dealer/Showroom Territory Name</b></td>
                                            <td><b><%= sales[0]['dealer_territory'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td><b>Chassis Number</b></td>
                                            <td><b><%= sales[0]['chassis_no'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td>Customer Name</td>
                                            <td><%= sales[0]['customer_name'] %></td>
                                          </tr>
                                          <tr>
                                            <td>Customer Address</td>
                                            <td><%= sales[0]['customer_address'] %></td>
                                          </tr>
                                          <tr>
                                            <td>Customer Contact</td>
                                            <td><%= sales[0]['customer_contact'] %></td>
                                          </tr>
                                          <tr>
                                            <td><b>Model</b></td>
                                            <td><b><%= sales[0]['model_name'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td>Invoice Number</td>
                                            <td><%= sales[0]['invoice_no'] %></td>
                                          </tr>
                                          <tr>
                                            <td><b>Price</b></td>
                                            <td><b><%= sales[0]['price'] %></b></td>
                                          </tr>
                                          <tr>
                                            <td>Sale Type</td>
                                            <td><%= sales[0]['sale_type_name'] %></td>
                                          </tr>
                                          <tr>
                                            <td>Institute</td>
                                            <td><%= sales[0]['institute'] %></td>
                                          </tr>
                                          <tr>
                                            <td>Advance</td>
                                            <td><%= sales[0]['advance'] %></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                          <div class="col-md-12">
                            <div class="card">
                              <div class="content">

                                <p class="category"><font color='red'><%= warning_msg %></font></p>

                                <ul role="tablist" class="nav nav-tabs">
                                    <li role="presentation" class="active">
                                        <a href="#verify_comment" data-toggle="tab">Verify or Comment on Sale</a>
                                    </li>
                                    <li>
                                        <a href="#mark_complete" data-toggle="tab">Mark Sale Complete</a>
                                    </li>
                                    <li>
                                        <a href="#commission" data-toggle="tab">Commissions</a>
                                    </li>
                                    <li>
                                      <a href="#sales_watch" data-toggle="tab">Sales Watch</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                  <div id="verify_comment" class="tab-pane active">
                                    <% if(sales[0]['verified'] == 0) { %>
                                      <div>
                                        <b>Verify this Sale: </b>&nbsp;&nbsp;<a href="/sale/verify/<%= sales[0]['id'] %>"><button class="success"><font color="black">Verify Sale</font></button></a>
                                        <br><br>
                                      </div>
                                    <% } else { %>
                                      <p><font color="green">Sale Verified</font></p>
                                      <table class="table table-striped">
                                        <tr>
                                          <td>By</td>
                                          <td><%= sales[0]['verified_by'] %></td>
                                        </tr>
                                        <tr>
                                          <td>On</td>
                                          <td><%= sales[0]['verified_on'] %></td>
                                        </tr>
                                      </table>
                                    <% } %>
                                    <hr style="margin-top: 0px;">
                                    <form action="/sale/addComment/<%= sales[0]['id'] %>" method="post" enctype="multipart/form-data">
                                      <h4 style="margin-top: 0px;">Add comment</h4>
                                      <div class="form-group">
                                        <textarea class="form-control" rows="4" columns="50" name="comment" placeholder="Comment"></textarea>
                                      </div>
                                      <div class="form-group">
                                        <table>
                                          <tr>
                                            <td>Add attachment (Image): &nbsp;</td>
                                            <td><input type="file" name="attachment" accept=".jpg, .jpeg, .png, .JPG, .JPEG, .PNG"></td>
                                          </tr>
                                          <tr>
                                            <td></td>
                                            <td>Maximum File Size (512KB)</td>
                                          </tr>
                                        </table>
                                      </div>
                                      <div class="form-group">
                                        <input class="btn btn-default" type="submit" value="Comment">
                                      </div>
                                    </form>
                                  </div>
                                  <div id="mark_complete" class="tab-pane">
                                    <% if(sales[0]['sale_completed'] == 0) { %>
                                      <form action="/sale/markComplete/<%= sales[0]['id'] %>" method="post">
                                        <h4 style="margin-top: 0px;">Mark Sale Complete</h4>
                                        <div class="form-group">
                                          <table>
                                            <tr>
                                              <td>Sale Completed Type &nbsp;</td>
                                              <td>
                                                <select name="sale_completed_type" class="form-control">
                                                  <% saleCompletedTypes.forEach(function(saleCompletedType) { %>
                                                    <option value="<%= saleCompletedType.id %>"><%= saleCompletedType.name %></option>
                                                  <% }) %>
                                                </select>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td>Details</td>
                                              <td width="100%"><textarea class="form-control" rows="4" columns="50" name="details" placeholder="Details"></textarea></td>
                                            </tr>
                                          </table>
                                        </div>
                                        <div class="form-group">
                                          <input class="btn btn-default" type="submit" value="Complete">
                                        </div>
                                      </form>
                                    <% } else { %>
                                      <p><font color="green">Sale Completed</font></p>
                                      <table class="table table-striped">
                                        <tr>
                                          <td>Type</td>
                                          <td><%= sales[0]['sale_completed_type_name'] %></td>
                                        </tr>
                                        <tr>
                                          <td>By</td>
                                          <td><%= sales[0]['sale_completed_by'] %></td>
                                        </tr>
                                        <tr>
                                          <td>On</td>
                                          <td><%= sales[0]['sale_completed_on'] %></td>
                                        </tr>
                                        <tr>
                                          <td>Remarks</td>
                                          <td><%= sales[0]['sale_completed_remarks'] %></td>
                                        </tr>
                                      </table>
                                    <% } %>
                                  </div>
                                  <div id="commission" class="tab-pane">
                                    <% if(sales[0]['commision_paid'] == 0) { %>
                                      <form action="/sale/commisionPaid/<%= sales[0]['id'] %>" method="post">
                                        <h4 style="margin-top: 0px;">Commission Payment Details</h4>
                                        <div class="form-group">
                                          <table>
                                            <tr>
                                              <td>Details</td>
                                              <td width="100%"><textarea class="form-control" rows="4" columns="50" name="details" placeholder="Details"></textarea></td>
                                            </tr>
                                          </table>
                                        </div>
                                        <div class="form-group">
                                          <input class="btn btn-default" type="submit" value="Complete">
                                        </div>
                                      </form>
                                    <% } else { %>
                                      <p><font color="green">Commision Paid</font></p>
                                      <table class="table table-striped">
                                        <tr>
                                          <td>By</td>
                                          <td><%= sales[0]['commission_paid_marked_by'] %></td>
                                        </tr>
                                        <tr>
                                          <td>On</td>
                                          <td><%= sales[0]['commission_paid_marked_on'] %></td>
                                        </tr>
                                        <tr>
                                          <td>Remarks</td>
                                          <td><%= sales[0]['commission_paid_remarks'] %></td>
                                        </tr>
                                      </table>
                                    <% } %>
                                  </div>
                                  <div id="sales_watch" class="tab-pane">
                                    <form action="/sale/addWatch/<%= sales[0]['id'] %>" method="post">
                                      <h4 style="margin-top: 0px;">Add Sale Watch</h4>
                                      <div class="form-group">
                                        <table>
                                          <tr>
                                            <td>Details</td>
                                            <td width="100%"><textarea class="form-control" rows="4" columns="50" name="content" placeholder="Details"></textarea></td>
                                          </tr>
                                          <tr>
                                            <td>Date</td>
                                            <td><input type="text" name="due_date" class="form-control datetimepicker" placeholder="YYYY-MM-DD" /></td>
                                          </tr>
                                        </table>
                                      </div>
                                      <div class="form-group">
                                        <input class="btn btn-default" type="submit" value="Add Watch">
                                      </div>
                                    </form>
                                  </div>
                                </div>

                                <ul role="tablist" class="nav nav-tabs">
                                  <li role="presentation" class="active">
                                      <a href="#comments" data-toggle="tab">Comments</a>
                                  </li>
                                  <li>
                                      <a href="#watches" data-toggle="tab">Watches</a>
                                  </li>
                                </ul>

                                <div class="tab-content">
                                  <div id="comments" class="tab-pane active">
                                      <% comments.forEach(function(comment) { %>
                                        <% if(comment.attachment) { %>
                                          <p><b><%= comment.name %></b> commented on <b><%= comment.date %></b> &nbsp;&nbsp; <a href="javascript:window.open('<%= comment.attachment %>','mypopuptitle','width=900,height=900')"><font color='green'><b>Show Attachment</b></font></a></p>
                                        <% } else { %>
                                          <p><b><%= comment.name %></b> commented on <b><%= comment.date %></b></p>
                                        <% } %>
                                        <p><font color='blue'><%= comment.text %></font></p>
                                      <% }) %>
                                  </div>
                                  <div id="watches" class="tab-pane">
                                      <% watches.forEach(function(watch) { %>
                                        <% if(watch.expires < 0) { %>
                                          <p>Watch Added By <b><%= watch.name %></b> for <%= watch.due_date %> expires in <font color='green'><b><%= Math.abs(watch.expires) %> days <a href="/sale/closeWatch/<%= sales[0]['id'] %>/<%= watch.id %>">Close</a></b></font></p>
                                          <p><font color='blue'><%= watch.content %></font></p>
                                        <% } else if (watch.expires > 0) { %>
                                          <p>Watch Added By <b><%= watch.name %></b> for <%= watch.due_date %> expired <font color='red'><b><%= Math.abs(watch.expires) %> days ago <a href="/sale/closeWatch/<%= sales[0]['id'] %>/<%= watch.id %>">Close</a></b></font></p>
                                          <p><font color='blue'><%= watch.content %></font></p>
                                        <% } else { %>
                                          <p>Watch Added By <b><%= watch.name %></b> for <%= watch.due_date %> expires <font color='blue'><b>today <a href="/sale/closeWatch/<%= sales[0]['id'] %>/<%= watch.id %>">Close</a></b></font></p>
                                          <p><font color='blue'><%= watch.content %></font></p>
                                        <% } %>
                                        
                                      <% }) %>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>



                    </div>
                </div>

                <% include ../layouts/pro/footer %>
            </div>
        </div>
    </body>
    <% include ../layouts/pro/includes %>
    <script type="text/javascript">
      $('.datetimepicker').datetimepicker({
          format: 'YYYY-MM-DD',
          icons: {
              time: "fa fa-clock-o",
              date: "fa fa-calendar",
              up: "fa fa-chevron-up",
              down: "fa fa-chevron-down",
              previous: 'fa fa-chevron-left',
              next: 'fa fa-chevron-right',
              today: 'fa fa-screenshot',
              clear: 'fa fa-trash',
              close: 'fa fa-remove'
          }
      });
  </script>
</html>
