<!DOCTYPE html>
<html>
    <head>
        <% include ../layouts/pro/head %>
        <style>
        </style>
    </head>
    <body>
        <div class="wrapper">
            <% include ../layouts/pro/sidebar %>
            <div class="main-panel">
                <% include ../layouts/pro/navbar %>

                <div class="main-content">
                    <div class="container-fluid">


                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <%= title %>
                                        <p class="category">You searched for <b><%= skw %> </b></p>
                                    </div>
                                    <div class="content">
                                        <ul role="tablist" class="nav nav-tabs">
                                            <li role="presentation" class="active">
                                                <a href="#details" data-toggle="tab">Details</a>
                                            </li>
                                            <li>
                                                <a href="#model_summary" data-toggle="tab">Model Summary</a>
                                            </li>
                                            <li>
                                                <a href="#model_group_summary" data-toggle="tab">Model Group Summary</a>
                                            </li>
                                            <li>
                                                <a href="#dealer_sales_summary" data-toggle="tab">Dealer Sales Summary</a>
                                            </li>
                                        </ul>
                                        </ul>

                                        <div class="tab-content">
                                            <div id="details" class="tab-pane active">
                                                <div style="max-width: 100%; overflow: auto;" class="table-responsive">
                                                    <table class="table table-striped">
                                                        <thead>
                                                            <th>#</th>
                                                            <td>Comments</td>
                                                            <th>Officer</th>
                                                            <th>Region</th>
                                                            <th>Territory</th>
                                                            <th>Date</th>
                                                            <th>Cloud Date</th>
                                                            <th>Showroom/Dealer</th>
                                                            <th>Dealer/Showroom Territory Name</th>
                                                            <th>Chassis No</th>
                                                            <th>Customer Name</th>
                                                            <th>Model</th>
                                                            <th>Invoice Number</th>
                                                            <th>Price</th>
                                                        </thead>
                                                        <tbody>
                                                            <% sales.forEach(function(sale) { %>
                                                                <tr>
                                                                    <td><a href="/sale/cloudIDInfo?cloudID=<%= sale.id %>"><%= sale.id %></a></td>
                                                                    <td><b><%= sale.sale_comments %></b></td>
                                                                    <td><%= sale.officer_name %></td>
                                                                    <td><%= sale.region_name %></td>
                                                                    <td><%= sale.territory_name %></td>
                                                                    <td><%= sale.date %></td>
                                                                    <td><%= sale.sys_date %></td>
                                                                    <% if(sale.location){ %>
                                                                        <td> <%= sale.location %> </td>
                                                                    <% } else if(sale.sd_location){ %>
                                                                        <td> <%= sale.sd_location %> </td>
                                                                    <% } %>
                                                                    <td><%= sale.dealer_territory %></td>
                                                                    <td><%= sale.chassis_no %></td>
                                                                    <td><%= sale.customer_name %></td>
                                                                    <td><%= sale.model_name %></td>
                                                                    <td><%= sale.invoice_no %></td>
                                                                    <td><%= sale.price %></td>
                                                                </tr>
                                                            <% }) %>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            <div id="model_summary" class="tab-pane">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <th>Model</th>
                                                        <th>Sales</th>
                                                    </thead>
                                                    <tbody>
                                                        <% modelSummary.forEach(function(modelItem) { %>
                                                            <% if(modelItem.model == undefined) { %>

                                                            <% } else { %>
                                                                <tr>
                                                                    <td> <%= modelItem.model %> </td>
                                                                    <td> <%= modelItem.sales %> </td>
                                                                </tr>
                                                            <% } %>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                             <div id="model_group_summary" class="tab-pane">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <th>Model Group</th>
                                                        <th>Sales</th>
                                                    </thead>
                                                    <tbody>
                                                        <% modelGroupSummary.forEach(function(modelGroupItem) { %>
                                                            <% if(modelGroupItem.model == undefined) {%>

                                                                <% } else { %>
                                                                    <tr>
                                                                        <td> <%= modelGroupItem.model %> </td>
                                                                        <td> <%= modelGroupItem.sales %> </td>
                                                                    </tr>
                                                            <% } %>
                                                         <% }) %> 
                                                        </tbody>
                                                </table>
                                            </div>
                                            <div id="dealer_sales_summary" class="tab-pane">
                                                <table class="table table-striped">
                                                    <thead>
                                                        <th>Dealer</th>
                                                        <th>Region</th>
                                                        <th>Territory</th>
                                                        <th>Sales Units</th>
                                                        <th>Sales values</th>
                                                    </thead>
                                                    <tbody>
                                                        <% dealerSummary.forEach(function(item){ %>
                                                            <% if(item.model == undefined) { %>
                                                                <% } else { %>
                                                                    <tr>
                                                                        <td> <%= item.model %> </td>
                                                                        <td> <%= item.region %> </td>
                                                                        <td> <%= item.territory %> </td>
                                                                        <td> <%= item.sales %> </td>
                                                                        <td> <%= item.price %> </td>
                                                                    </tr>
                                                            <% } %>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>



                    </div>
                </div>

                <% include ../layouts/pro/footer %>
            </div>
        </div>
    </body>
    <% include ../layouts/pro/includes %>
</html>
