<!DOCTYPE html>
<html>
    <head>
        <% include ../../../layouts/pro/head %>
    </head>
    <body>
        <div class="wrapper">
            <% include ../../../layouts/pro/sidebar %>
            <div class="main-panel">
                <% include ../../../layouts/pro/navbar %>

                <div class="main-content">
                    <div class="container-fluid">


                        <div class="row">

                            <div class="col-md-12">
                                <div class="card">
                                    <div class="header">
                                        <%= title %>
                                        <p class="category">Field Visit : <%= fieldVisitId %></p>
                                    </div>
                                    <div class="content">
                                        <div style="max-width: 100%; overflow: auto;" class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <th>Customer Name</th>
                                                    <th>Customer Telephone</th>
                                                    <th>Customer NIC</th>
                                                    <th>Customer Address</th>
                                                    <th>Model</th>
                                                    <th>Inquiriy</th>
                                                </thead>
                                                <tbody>
                                                    <% inquiries.forEach(function(inquiry) { %>
                                                        <tr>
                                                            <td> <%= inquiry.customer_name %> </td>
                                                            <td> <%= inquiry.customer_telephone %> </td>
                                                            <td> <%= inquiry.customer_nic %> </td>
                                                            <td> <%= inquiry.customer_address %> </td>
                                                            <td> <%= inquiry.name %> </td>
                                                            <td> <%= inquiry.inquiry %> </td>
                                                        </tr>
                                                    <% }) %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>



                    </div>
                </div>

                <% include ../../../layouts/pro/footer %>
            </div>
        </div>
    </body>
    <% include ../../../layouts/pro/includes %>
</html>
