<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <style>
            table {
                font-size: 12px;
                border-collapse: collapse;
                width: 100%;
            }

            table, th, td {
                border: 0.5px solid black;
                padding: 5px;
            }
        </style>
    </head>

    <body style="font-family: Arial, Helvetica, sans-serif;">
        <p>Hello <b><%= user.name %></b> &nbsp; &nbsp; &nbsp; &nbsp; <a href='/'>Dashboard</a> &nbsp; &nbsp; &nbsp; &nbsp; <a href='/signout'>Sign out</a></p>
        <h2>All Supporters</h2>

        <p><%= warning_msg %></p>

        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Telephone No</th>
                    <th>Emergency Contact No</th>
                    <th>Emergency Contact Relation</th>
                    <th>Date of Birth</th>
                </tr>
            </thead>
            <tbody>
                <% supporters.forEach(function(supporter) { %>
                    <tr>
                        <td><%= supporter.first_name %></td>
                        <td><%= supporter.last_name %></td>
                        <td><%= supporter.telephone_no %></td>
                        <td><%= supporter.emergency_contact_name %></td>
                        <td><%= supporter.emergency_contact_relation %></td>
                        <td><%= supporter.dob %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </body>
</html>
